@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
.header, main, footer {
  max-width: 1600px;
  background-color: rgb(25, 8, 49);
}
.navbar {
  margin: auto;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 32px;
  font-weight: 800;
}

.tech {
  color: #ffffff;
}

.wave {
  background: linear-gradient(90deg, #ff00cc, #ff9900);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Nav links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
}
.subscribe-btn {
  padding: 10px 22px;
  border-radius: 30px;
  cursor: pointer
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #ffffff;
  background: linear-gradient(90deg, #ff00cc, #ff9900);
}
.bg-container {
  position: relative;
  background-color: #1A0B2E;
  max-width: 100%;
} 
.container {
    border: 100px 525px;
    width: 550px;
    height: 558px;

gap: 40px;
}
.overlay-img {
   justify-content: space-between;
  align-items: center;
  position: absolute;
  grid-column: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  
}
.overlay-mic {
   justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
}

.badge {
  position: absolute;
  top: 220px;
  left: 60%;
  background-color: #00FF88;
  color: #1A0B2E;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 500;
}
.TechWave {
  color: #FFFFFF;
  margin-top: 40px;
  font-size: 48px;
  font-weight: 800;
}

.tagline {
  margin-top: 12px;
  font-size: 14px;
  color: #cfcfd6;
}

/* Buttons */
.buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.buttons {
  padding: 12px 22px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 14px;
}

.btn-spotify {
  text-align: center;
  justify-content: center;
  background: linear-gradient(90deg, #ff00cc, #ff9900);
  color: white;
  width: 200px;
  border-radius: 10000px;
  flow: horizontal
  padding: 12px, 20Px:
  gap: 8px:
}

.btn-subscribe {
  border: 1px solid #00ff88;
  color: #00ff88;
  width: 147px;
  border-radius: 10000px;
  flow: horizontal
  padding: 12px, 20Px:
  gap: 8px:
}
.stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 40px 60px;
    text-align: center;
}

.stat h3 {
    color: #00ff9c;
    font-size: 28px;
}

/* ---------- FEATURES ---------- */
.features {
    padding: 60px;
}

.features h2 {
    text-align: center;
    margin-bottom: 40px;
}

.feature-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.card {
    background: rgba(255,255,255,0.05);
    padding: 25px;
    border-radius: 15px;
}

.card h3 {
    margin-bottom: 10px;
}

.card p {
    color: #ccc;
    font-size: 14px;
}
.about {
width: 1200px;
height: 220px;
padding: 50px 200px 80px 200px;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
margin: 50px 200px 120px 200px;
}
.about-title {
color: #FFFFFF;
font-size: 3rem;
font-weight: 700;
text-align: center;
}
.about-discription {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}
.stats {
width: 1200px;
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
gap: 80px;
}
.stats, stat, p {
  color: #FFFFFF;
  font-size: 1rem;
}

.performence {
  align-items: center;
  text-align: center;
  font-size: 3rem;
  color: #ffffff;
  font-weight: 700;
}
.feature-grid h3 {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 700;
}
.features {
  width: 1200px;
}
.feature-grid p {
  font-size: 1rem;
  opacity: 0.6;
  font-weight: 400;
}
.card-1 {
width: 380px;
height: 480px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 16;
padding: 40px;
border-radius: 40px;
background: rgba(53, 17, 101, 0.4);
}
.card-2 {
width: 790px;
height: 225px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 16;
padding: 40px;
border-radius: 40px;
background: rgba(53, 17, 101, 0.4);
}
.card-3 {
width: 790px;
height: 225px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 16;
padding: 40px;
border-radius: 40px;
background: rgba(53, 17, 101, 0.4);
}
.card-4 {
width: 790px;
height: 273px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 16;
padding: 40px;
border-radius: 40px;
background: rgba(53, 17, 101, 0.4);

}
.card-5 {
width: 380px;
height: 273px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 16;
padding: 40px;
border-radius: 40px;
background: rgba(53, 17, 101, 0.4);
}
.section-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
}


/*Responsive media query*/
@media screen and (max-width:576px) {
  .header,
    .navbar, 
    .features {
      flex-direction: column;
    }
        
  }