@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
.header {
  background-color: rgb(25, 8, 49);
}
.navbar {
  max-width: 1600px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 32px;
  font-weight: 800;
}

.tech {
  color: #ffffff;
}

.wave {
  background: linear-gradient(90deg, #ff00cc, #ff9900);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Nav links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
}
.subscribe-btn {
  padding: 10px 22px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #ffffff;
  background: linear-gradient(90deg, #ff00cc, #ff9900);
}
#bg-container {
    position: relative;
    width: 100%;
    height: 760px;
    overflow: hidden;
}
.overlay-img {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
}
.overlay-mic {
  position: absolute;
  top: 40%;
  left: 52%;
  transform: translate(-50%, -50%);
  width: 200px;
}

.badge {
  position: absolute;
  top: 200px;
  left: 54%;
  background-color: #00FF88;
  color: #1A0B2E;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 1.5rem;
  font-weight: 500;
}